SECRET_KEY=

# Database
NAME=
USER=
PASSWORD=
HOST=
PORT=

STRIPE_API_KEY=
STRIPE_API_VERSION=

CELERY_RESULT_BACKEND=
CELERY_BROKER_URL=

# Mail settings
EMAIL_TO_CONSOLE=
EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_SSL=
EMAIL_USE_TLS=

# Celery
CELERY_DB=0
CELERY_WORKER_CONCURRENCY=2